@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  src: url("/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

body {
  @apply dark:bg-slate-900;
}

h1 {
  @apply text-3xl font-medium font-serif;
}
h2 {
  @apply text-2xl font-medium font-serif;
}
h3 {
  @apply text-xl font-medium font-serif;
}
h4 {
  @apply text-lg font-medium;
}

.button-base {
  @apply py-1.5 px-3 font-serif text-lg rounded-sm;
}

.button-base-sm {
  @apply py-0.5 px-2.5 font-serif text-base rounded-sm;
}

.button-base-primary {
  @apply bg-gray-900 text-white hover:bg-gray-700 dark:bg-white dark:text-black hover:dark:bg-slate-300;
}

.button-base-secondary {
  @apply bg-gray-200 text-black hover:bg-slate-100  dark:bg-slate-700 dark:border-white hover:dark:bg-slate-600 dark:text-white;
}

button,
button[type="submit"] {
  @apply button-base button-base-primary;
}

a.button {
  @apply button-base button-base-primary leading-9;
}

button.button-sm,
button[type="submit"].button-sm {
  @apply button-base-sm button-base-primary;
}

a.button.button-sm {
  @apply button-base-sm button-base-primary;
}

button.button-secondary,
.button.button-secondary {
  @apply button-base button-base-secondary;
}
button.button-secondary-sm,
.button.button-secondary-sm {
  @apply button-base-sm button-base-secondary;
}

button:disabled {
  @apply bg-gray-100 text-gray-500 cursor-not-allowed border-slate-300 dark:bg-gray-300;
}

button.active {
  @apply bg-blue-200 dark:bg-blue-600 hover:bg-blue-100 dark:hover:bg-blue-500;
}

input,
select {
  @apply border-2 border-black px-2 h-10 rounded-sm focus:bg-gray-100 dark:border-gray-500 dark:bg-gray-800 focus:dark:bg-gray-700;
}

path.fill-black {
  fill: black;
}
